.box img{
    cursor: pointer;
}
.box img:hover{
    /* cursor:hand; */
     cursor:help; 

}
p{
    color:red;
}
p::before{
    content: "Note:";
    color: blue;
}
ul {
    list-style: none;
}
ul li{
    float: left;
}
ul li::after{
    content: " / ";
}